hr {
    margin: 0;
}

.rodape-titulo {
    color: var(--preto);
    padding: 1em;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
    }

    .lista-rodape {
        display: block;
    }

    .rodape-titulo {
        font-size: 24px;
    }

    .lista-rodape-titulo {
        margin: 30px 0 40px 0;
        text-transform: uppercase;
        color: var(--cinza-claro);
    }

    .lista-rodape-item {
        display: flex;
        align-items: center;
        margin: 1em 0;
    }

    .lista-rodape-link {
        color: var(--cinza);
        text-decoration: none;
        margin-left: 0.6em;
    }
}


@media screen and (min-width: 1728px) {
    .lista-rodape {
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1.5em
    }

    .rodape {
        padding: 3em 0;
    }
}
